.FullGraph{
    Height: 350vh;
    width: 100%;

}

.Header1{
    Height: 6.6%;
    Width: 80%;

    margin-left: 10%;
    margin-right: 10%;
}

.Sections{
    Height: 23.3%;
    Width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.P11R{
    width: 50%;
    Height: 100%;
    background-image: url(../Images/words.PNG) !important;
    background-size: contain;
    background-position-y: 60%;
    background-position-x: 10%;
    background-repeat: no-repeat;
    float: Right;

}

.P11L{
    width: 50%;
    Height: 100%;

    

}

.P11LT{

    Width: 60%;
    Height: 80%;
    margin-top: 10%;
    margin-left: 20%;


}



.P12L{
    width: 50%;
    Height: 100%;
    background-image: url(../Images/money.PNG) !important;
    background-size: contain;
    background-position-y: 60%;
    background-position-x: 80%;
    background-repeat: no-repeat;
    float: Left;

}

.P12R{
    width: 50%;
    Height: 100%;
    float: right;

    

}

.P12RT{

    Width: 60%;
    Height: 80%;
    margin-top: 10%;
    margin-left: 20%;


}

.SelfPortrait{
    height: 80%;
    width: 100%;

    background-image: url(../Images/selfportrait.PNG) !important;
    background-size: contain;
    background-position-y: 60%;
    background-position-x: 50%;
    background-repeat: no-repeat;

}

.Selftxt{
    height: 20%;
    width: 50%;
    margin-left: 25%;


}

.LastSec{
    Height: 30%;
    Width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}


.Cry{
    height: 60%;
    width: 100%;

    background-image: url(../Images/tears1.PNG) !important;
    background-size: contain;
    background-position-y: 60%;
    background-position-x: 50%;
    background-repeat: no-repeat;

}
.LastText{
    height: 40%;
    width: 50%;
    margin-left: 25%;


}

.poem{
    font-family: 'Source Sans Pro', sans-serif;
    height: 100%;
    width: 80%;
    margin-left: 10%;
}