.all1{
    
    margin: -25px;
    height: 100vh;
    width: 100%;


}


.CarouColor{
    height: 50%;
    width: 50%;
    float:left;
    margin-top: 100px;
}


.cartxt{
    width: 50%;
    height: 50vh;
    float: right;
    margin-top: 100px;

}