.WorksContainer{
    Height: 80vh;
    Width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.HorizontalContainerTop{
    width: 100%;
    height: 40%;
    margin-top: 5%;

}

.HorizontalContainerBot{
    width: 100%;
    height: 40%;
    margin-bottom: 5%;
    


}

.RightBox{
    height: 85%;
    width: 35%;
    border: solid rgb(131, 220, 101);
    float: right;
    margin-right: 10%;
}

.LeftBox{
    height: 85%;
    width: 35%;
    border: solid rgb(84, 15, 27);
    float: left;
    margin-left: 10%;
   

}